.section__about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    transform: translateX(-35px);
    img{
      width: 40%;
      max-width: 570px;
    height: auto;
    transform: translateX(35px);
    }
  .section__container__content{
    background-color: #fff;
    max-width: 570px;
    padding: 100px 50px 100px 80px;
    h1{
    font-family: $font_title;
    font-size: 30px;
    color: rgba(0,0,0,0.84);
    letter-spacing: 0.56px;
    padding-bottom: 40px;
    }
    p{
      /* Around the world, fo: */
    font-family: $font_normal;
    font-size: 14px;
    color: rgba(0,0,0,0.84);
    letter-spacing: 0.32px;
    }

  }
}
