/* ----------------
  Fonts / Helpers
---------------- */
$icon_font: 'FontAwesome';

.fa, .icon {
  font: normal normal normal 14px/1 $icon_font;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* ----------------
  General
---------------- */
em {

}

strong {

}

/* ----------------
  Headers
---------------- */
h1, h2, h3, h4 {
}

h1 {
  font-weight: 700;
  font-size: 34px;
  color: #000000;
  line-height: 40px;

}

h2 {
  font-weight: 700;
  font-size: 34px;
  color: #000000;
  line-height: 40px;

}

h3 {
font-family: $font_title;
font-size: 36px;
color: #000000;
letter-spacing: 0.36px;
line-height: 45px;
text-transform: uppercase;
}

h4 {
}
p {

}

i{

}

blockquote {
}
@media #{$portait}{

}
/* ----------------
  Content
---------------- */
